body{
    background-color: rgb(58, 58, 170);
    text-align: center;
    align-items: flex;
    display: center;
}
h1{
    border-style: double;
    width: fit-content;
    display: inline-block;
    border-width: 5px;
}
#image1{
    position: fixed;  
    width: 50%;
    filter: brightness(1.1);
    mix-blend-mode: multiply;
    align-items: flex-start;
    display: flex;
    border-style: unset;
}
#form{
    border-style: double;
    width: fit-content;
    height: fit-content;
    margin: auto;
    border-width: 10px;
    border-radius: 100px;
    
}
